<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>courseNumber</key>
		<string>CSCI 340</string>
		<key>courseName</key>
		<string>Advanced Programming</string>
		<key>creditHours</key>
		<integer>4</integer>
		<key>maxEnrollment</key>
		<integer>40</integer>
	</dict>
	<dict>
		<key>courseNumber</key>
		<string>CSCI 241</string>
		<key>courseName</key>
		<string>Intermediate Programming</string>
		<key>creditHours</key>
		<integer>4</integer>
		<key>maxEnrollment</key>
		<integer>90</integer>
	</dict>
	<dict>
		<key>courseNumber</key>
		<string>CSCI 240</string>
		<key>courseName</key>
		<string>Intro to Programming</string>
		<key>creditHours</key>
		<integer>4</integer>
		<key>maxEnrollment</key>
		<integer>140</integer>
	</dict>
</array>
</plist>
